@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Afacad Flux';
  src: url('/fonts/AfacadFlux.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply font-family and font-style to all elements */
* {
  font-family: 'Afacad Flux', sans-serif !important;
  font-style: normal !important;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Afacad Flux', sans-serif;
  font-style: normal;
}

/* Mobile-specific styles */
@media only screen and (max-width: 767px) {
  * {
    font-family: 'Afacad Flux', sans-serif !important;
    font-style: normal !important;
  }

  body {
    font-style: normal !important;
    font-family: 'Afacad Flux', sans-serif !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
